node_modules
*.mov
hidropoeticas_FFTHidrofono/windows-amd64
hidropoeticas_FFTTheremin/windows-amd64
weatherSpout/windows-amd64
videos/prueba fondo.mp4
videos/VIDEO 6.mp4
*.mp4

sonido/samples/.DS_Store
